html, header, main {
    min-width:1440px;
    scroll-behavior: smooth;
}
header {
    width:calc(100% - 60px);
    margin: 0 auto;
}
header .event {
    width: 100%; height:100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .event .left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .event .left img {  
    margin-right: 10px;
}
header .event .left span {
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    padding-right: 610px;
}
header .event span {
    
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}
main {
    width:calc(100% - 60px);
    margin: 0 auto;
}

main > .sns {
    position: absolute;
    right:30px; bottom:230px;
    position: fixed;
    z-index: 999;
    
}
main .sns #kakao {
    
}
main .sns #kakao img {}
main .sns #kakao_reser {
    
}
main .sns #kakao_reser .kakao_close {
    padding-bottom: 90px;
}
main .sns #kakao_reser img {}

main .sns_open {
    position: absolute;
    right:30px; bottom:120px;
    position: fixed;
    z-index: 999;
}
main .sns_open #naver {}

main .sns_open #naver img {}
main .sns_open #naver_reser {}
main .sns_open #naver_reser .naver_close {
    padding-bottom: 60px;
}
main .sns_open #naver_reser img {}
main .sns_open #arrow {
    position: absolute;
    right:30px; bottom:10px;
    position: fixed;
    z-index: 999;
    transition: all 0.2s linear;
}
main .sns_open #arrow:hover {
    scale:1.05;
}
main .sns_open #arrow img {}

main section {
    
    
}
main section .main_page {
    background: url(../images/bg_01.png) no-repeat center;
    height:830px;
}
main section .main_page h1 {
    padding: 120px 0 0 120px;
    margin-bottom: 11px;
    
}
main section .main_page h1 a {}
main section .main_page h1 a img {width: 287px; height:77px;}
main section .main_page p {
    font-size: 4.68rem;
    font-weight: 600;
    padding-left: 120px;
    color: #000;
    margin-bottom: 10px;
    letter-spacing: -0.02rem;
}
main section .main_page h2 {
    font-size: 9.37rem;
    padding-left: 120px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px gray;
    letter-spacing: -0.02rem;
}
main section .main_page em {
    font-size: 3.12rem;
    padding-left: 120px;
    font-weight: 600;
    letter-spacing: -0.02rem;
}
main section .main_page .main_mid {
    width: 100%; height:100px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
    
}
main section .main_page .main_mid img {width: 100px; height:100px;}
main section .main_page .main_mid span {
    font-size: 1.95rem;
    padding: 0px 20px 0 20px;
}
main section .main_btm {
    overflow: hidden;
    position: relative;
}
main section .main_btm ul {
    margin: 50px;
    
}
main section .main_btm ul li {
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 150px;
    
}
main section .main_btm ul li img {
    margin-right: 25px;
    width: 70px; height:70px;
}
main section .main_btm ul li .benefit_txt {
    padding-top: 50px;
    display: flex; flex-flow: column wrap;
    
}
main section .main_btm ul li .benefit_txt p {
    font-size: 3.125rem;
    font-weight: 600;
    
}
main section .main_btm ul li .benefit_txt .month {
    margin-top: 50px;
}
main section .main_btm ul li .benefit_txt > span {
    font-size: 1.8rem; font-weight: 400;
    line-height: 50px;
    
    
}
main section .main_btm ul li .benefit_txt .under {
    width: 360px; margin-top: 5px;
    border: 1px solid#000;
}

main section .page02 {
    width: 100%;
    height: 990px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/bg_02.jpg) no-repeat center;
    background-size: cover;
}
main section .page02 p {
    padding-top: 80px;
    font-size: 3.125rem;
    padding-bottom: 20px;
}
main section .page02 h3 {
    font-size: 6.25rem;
    font-weight: 700;
    margin-bottom: 200px;
}
main section .page02 #ads_slide {
    width: 1280px; height:400px;
}
main section .page02 #ads_slide .swiper-wrapper {}
main section .page02 #ads_slide .swiper-wrapper .swiper-slide {}
main section .page02 #ads_slide .swiper-wrapper .slide1 {}
main section .page02 #ads_slide .swiper-wrapper .slide1 img {
    width: 70%;
}
main section .page02 #ads_slide .swiper-wrapper .slide2 {}
main section .page02 #ads_slide .swiper-wrapper .slide2 img {width: 70%;}
main section .page02 #ads_slide .swiper-wrapper .slide3 {}
main section .page02 #ads_slide .swiper-wrapper .slide3 img {width: 70%;}
main section .page02 #ads_slide .swiper-button-prev {
    width: 50px; height: 50px;
    background: url(../images/adver_prev2.png) no-repeat;
}
main section .page02 #ads_slide .swiper-button-next {
    width: 50px; height: 50px;
    background: url(../images/adver_next2.png) no-repeat;
}
main section .page02 #ads_slide .swiper-button-prev:after,
main section .page02 #ads_slide .swiper-button-next:after {display: none;}
main section .page03 {
    width: 100%;
}
main section .page03 .page03_top {
    width: 100%; height:574px;
    background: url(../images/bg_03.jpg) no-repeat center;
    background-size: cover;
    padding-top: 120px;
    
}
main section .page03 .page03_top .p03_top_text {
    width: 995px; height:334px;
    background-color: #e9ecef; opacity: 0.8;
    
    padding-top: 70px;
}
main section .page03 .page03_top .p03_top_text h3 {
    font-size: 4.68rem;
    font-weight: 700;
    color: #fff;
    margin-left: 97px;
    text-shadow: 2px 2px 2px gray;
    margin-bottom: 10px;
}
main section .page03 .page03_top .p03_top_text span {
    display: block;
    padding-left: 97px;
    font-size: 2.18rem;
    line-height: 50px;
    font-weight: 600;
    color: #000;
}
main section .page03 .p03_btm {
    width: 100%; height: 1510px;
    padding-top: 50px;
}
main section .page03 .p03_btm p {
    font-size: 3.12rem;
    padding: 48px 0 20px 97px;
    font-weight: 700;
    color: #204192;
}
main section .page03 .p03_btm span {
    width: 80px;
    margin: 0 0 30px 97px;
    border: 1px solid#000;
    display: block;
}
main section .page03 .p03_btm img {
    width: 1400px; height:1400px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

main section .page04 {
    margin-top: 150px;
    padding-bottom: 50px;
    background: url(../images/bg_02.jpg) no-repeat center;
    background-size: cover;
}
main section .page04 p {
    font-size: 3.12rem;
    padding: 100px 0 20px 97px;
    font-weight: 700;
    color: #204192;
}
main section .page04 > span {
    width: 80px;
    margin: 0 0 14px 97px;
    border: 1px solid#000;
    display: block;
    margin-bottom: 60px;
}
main section .page04 .before_test {
    display: flex;
    flex-flow: column nowrap;
    
}
main section .page04 .before_test li {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 50px 50px 76px;
}
main section .page04 .before_test li img {
    width: 370px; height: 250px;
    margin-right: 50px;
    border:5px outset #fff;
    
    
}
main section .page04 .before_test li .bt_text {
    display: flex;
    flex-flow: column wrap;
    padding: 30px 0 30px 46px;
}
main section .page04 .before_test li .bt_text em {
    font-size: 2.18rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: #204192;
}
main section .page04 .before_test li .bt_text span {
    font-size: 1.56rem;
    line-height: 35px;
    letter-spacing: -0.02rem;
}

main section .page05_top {
    width: 100%; height: 850px;
    background: url(../images/bg_05.png) no-repeat center;
    background-size: cover;
    
}
main section .page05_top .sub_title {
    padding: 120px 0 10px 97px;
    font-size: 1.875rem;
    font-weight: 600;
}
main section .page05_top h3 {
    padding-left: 97px;
    font-size: 4.68rem;
    font-weight: 700;
    margin-bottom: 35px;
}
main section .page05_top .line {
    width: 130px;
    border: 5px solid#000;
    display: block;
    margin-left: 97px;

}
main section .page05_top .p05_top_text {
    width: 100%; height:371px;
    background-color: #fff;
    opacity: 0.8;
    margin-top: 125px;
    padding: 58px 0 0 46px;
}
main section .page05_top .p05_top_text p {
    font-size: 1.56rem;
    line-height: 45px;
    letter-spacing: -0.02rem;
}
main section .page05_contents {
    width: 100%; height: 1500px;
    margin-bottom: 100px;
    margin-top: 30px;
}
main section .page05_contents .contents {
    padding: 70px 97px 50px 95px;
    
}
main section .page05_contents .contents .contents_head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
}
main section .page05_contents .contents .contents_head .head_left {
    display: flex;
    flex-flow: row nowrap;
}
main section .page05_contents .contents .contents_head .head_left > span {
    font-size: 3.31rem;
    font-weight: 700;
    color: #204192;
    margin-right: 5px;
    letter-spacing: -0.02rem;
}
main section .page05_contents .contents .contents_head .head_left .eng_name {
    padding-top: 5px;
}
main section .page05_contents .contents .contents_head .head_left .eng_name p {
    font-size: 1.56rem;
    font-weight: 700;
    
}
main section .page05_contents .contents .contents_head .head_left .eng_name span {}
main section .page05_contents .contents .contents_head a {
    
    width: 227px; height:50px;
    background-color: #6B8E23;
    text-align: center;
    border-radius: 5px;
    padding-top: 15px;
    transition: all 1s;
}
main section .page05_contents .contents .contents_head a:hover {
    background-color: #000;
    transition: all 1s;
}
main section .page05_contents .contents .contents_head a em {
    font-size: 1.25rem; 
    color: #fff;
}
main section .page05_contents .contents .contents_body {
    padding-top: 32px;
    display: flex;
    flex-flow: row nowrap;
}
main section .page05_contents .contents .contents_body iframe {
    width: 1000px; height:300px;
    margin-right: 40px;
}
main section .page05_contents .contents .contents_body .contents_desc {
    padding: 0px 0 0 10px;
}
main section .page05_contents .contents .contents_body .contents_desc span {
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
    line-height: 32px;
}
main section .page05_contents .contents .contents_body .contents_desc p {
    margin-top: 30px;
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
    line-height: 32px;
    font-weight: 700;
}

main section .page06 {
    width: 100%; height:1187px;
    background: url(../images/bg_06.jpg) no-repeat center;
}
main section .page06 .pg06_top {
    
}
main section .page06 .pg06_top p {
    padding-top: 73px;
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: -0.02rem;
}
main section .page06 .pg06_top .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
main section .page06 .pg06_top .title h3 {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    margin-top: 20px;
}
main section .page06 .pg06_top .title span {
    font-size: 2.18rem;
    letter-spacing: -0.02rem;
    line-height: 53px;
    padding: 20px 0 0 10px;
    font-weight: 700;
}
main section .page06 > span {
    font-size: 1.25rem;
    margin: 72px 0 15px 300px;
    font-weight: 600;
    padding-bottom: 15px;
    display: block;
}
main section .page06 .review {}
main section .page06 .review .review1 {
    
        
        
}
main section .page06 .review .review1 a {
    background: url(../images/bg_06_1.png) no-repeat center;
    background-size: cover;
    width: 1280px; height:280px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s linear;

}
main section .page06 .review .review1 a:hover {
    scale: 1.01;
    

}
main section .page06 .review .review2 a:hover {
    scale: 1.01;
}
main section .page06 .review .review1 a p {
    font-size: 3.12rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    line-height: 60px;
    color: #fff;
    padding: 50px 0 0 50px;
    text-shadow: 2px 2px 2px gray;
}
main section .page06 .review .review1 a span {
    font-size: 1.25rem;
    display: block;
    padding: 5px 0 0 50px;
    color: #fff;
    text-shadow: 2px 2px 2px gray;
}
main section .page06 .review .review2 {
    margin-top: 45px;
}
main section .page06 .review .review2 a {
    background: url(../images/bg_06_2.jpg) no-repeat center;
    background-size: cover;
    width: 1280px; height:280px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    transition: all 0.2s linear;
}
main section .page06 .review .review2 a p {
    font-size: 3.12rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    line-height: 60px;
    color: #fff;
    padding: 50px 0 0 50px;
    text-shadow: 2px 2px 2px gray;
}
main section .page06 .review .review2 a span {
    font-size: 1.25rem;
    display: block;
    padding: 5px 0 0 50px;
    color: #fff;
    text-shadow: 2px 2px 2px gray;
}
main section .page06 > p {
    text-align: center;
    margin-top: 66px;
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
    font-weight: 500;
}

main section .page07 {
    width: 100%; height: 1109px;
    
}
main section .page07 .pg07_contents {
    
}
main section .page07 .pg07_contents ul {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 30px;
    
}
main section .page07 .pg07_contents ul li {
    width: 400px; height: 500px;
    display: flex; flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 56px;
}
main section .page07 .pg07_contents ul li img {
    width: 130px; height:130px;
}
main section .page07 .pg07_contents ul li span {
    font-size: 2.42rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    text-align: center;
    line-height: 59px;
    margin-top: 15px;
}
main section .page07 .pg07_contents ul li .limit {
    font-size: 1.25rem;
    font-weight: 500;
}
main section .page07 .pg07_contents .call {
    text-align: center;
    
}
main section .page07 .pg07_contents .call p {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 10px;
}
main section .page07 .pg07_contents .call p img {
    width: 70px; height: 70px;
    margin-right: 15px;
    
}
main section .page07 .pg07_contents .call p span {
    font-size: 2.43rem;
    font-weight: 600;
    line-height: 59px;
    display: block;
    padding-bottom: 10px;
    align-items: center;
    letter-spacing: -0.02rem;
}

main section .page07 .pg07_contents .call span {
    font-size: 2.43rem;
}
main section .page07 .pg07_contents .call span em {
    font-size: 2.43rem;
    font-weight: 600;
    margin-right: 5px;
    
}
main section .page07 .pg07_contents .sns {
    text-align: center;
    margin-top: 70px;
    
}
main section .page07 .pg07_contents .sns a {
    margin-right: 10px;
    
}
main section .page07 .pg07_contents .sns a:hover img {
    scale: 1.02;
    overflow: hidden;
}
main section .page07 .pg07_contents .sns a img {
    transition: all 0.2s linear;
}